page-horario {
    .background{
        background-image: url('../assets/imgs/diseño/POLI 5a.png');
        width: 100%;
        height: 100%;
        align-self: auto;  
    }

    h2{
        font-size: 14px;
        background-color: rgba(255, 255, 255, 0.651);
    }

    h1{
        font-size: 15px;
        text-align: center;
    }

    h3{
       text-align: end;
    }
    h5{
        text-align: center;
        text-justify: 20px;
        font-size: 14px;
    }
    div{
        margin-bottom: 8px
    }
    .lista{
        background-color: rgba(255, 255, 255, 0.651);
        max-width: 100% !important;
        text-align: center;
        font-weight: bold;
    }
}
